h2 User {{ user.username }} Info

form.form-horizontal(role="form", name="userForm")
  .form-group(ng-show="message")
    .alert.col-lg-5(ng-class="message.alertType") {{ message.text }} <br/>
  .form-group
    label.col-lg-2.control-label(for="inputUsername") Current subscription
    .col-lg-3
      p.form-control-static Free trial
  .form-group
    label.col-lg-2.control-label(for="inputUsername") Username
    .col-lg-3
      p.form-control-static {{ user.username }}
  .form-group
    label.col-lg-2.control-label(for="inputUsername") First Name
    .col-lg-3
      p.form-control-static {{ user.name.first }}
  .form-group
    label.col-lg-2.control-label(for="inputUsername") Last Name
    .col-lg-3
      p.form-control-static {{ user.name.last }}
  .form-group
    label.col-lg-2.control-label(for="inputUsername") Email
    .col-lg-3
      p.form-control-static {{ user.email }}
  .form-group
    label.col-lg-2.control-label(for="inputUsername") Role
    .col-lg-3
      p.form-control-static {{ user.role }}
  .form-group
    label.col-lg-2.control-label(for="inputUsername") Address
    .col-lg-3
      p.form-control-static {{ user.address }}
  .form-group
    label.col-lg-2.control-label(for="inputUsername") Referral
    .col-lg-3
      p.form-control-static {{ user.referral.name }}
