link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400|Roboto+Condensed')
link(rel='stylesheet', href='/lib/bootstrap/3.3.0/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/signup-and-signin.css')
link(rel='stylesheet', href='/css/common.css')
link(rel='stylesheet', href='/css/card.css')
link(rel='stylesheet', href='/css/app.css')
link(rel='stylesheet', href='/css/activity-feed.css')
link(rel='stylesheet', href='/css/nestable.css')
link(rel='stylesheet', href='/css/svg.css')
link(rel="stylesheet", href="/css/kendo/kendo.common.min.css")
link(rel="stylesheet", href="/css/kendo/kendo.metro.min.css")
link(rel="stylesheet", href="/css/agile.css")
link(rel="stylesheet", href="/css/list_view.css")
link(rel="stylesheet", href="/css/rotating-card.css")
link(rel="stylesheet", href="/css/bootstrap.icon-large.min.css")
link(rel="stylesheet", href="/css/tour.css")
link(rel='stylesheet', href='js/lib/nouislider/5.0.0/minified/jquery.nouislider.min.css')
link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
