xhtml
    head
        meta(charset='utf8')
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    body
        h1 Hola,
        p Creaste una cuenta para una prueba gratis pero no creaste un proyecto. Puedes crear un proyecto haciendo clic <a href="http://#{domain}/project/create">aquí</a>, toma un tour interactivo <a href="http://#{domain}/projects/created">aquí</a>, o pide ayuda <a href="http://#{domain}/feedback">aquí</a>.
