xhtml
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
  body
    h1 Hola
    p #{owner_email} pidió tu ayuda para planificar un proyecto y no creaste una tarea. Puedes crear una tarea haciendo clic <a href="http://#{domain}/project/#{project_id}/show">aquí</a>, o pide ayuda <a href="http://#{domain}/">aquí</a>.
